html {
  font-family: "Merriweather",serif;
  line-height: 1.5;
}

body {
  margin: 0;
}

header {
  background-color: #d05c2e;
}

h1 {
  color: #fff;
  font-size: 2rem;
  margin: 0;
  padding: .5em 0 0;
  text-align: center;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.nav li {
  font-size: 1.125rem;
  float: left;
}

.nav a {
  color: #fff;
  display: inline-block;
  padding: .4rem 0;
  text-decoration: none;
  clear: both;
}

div h1 {
  border-bottom: 2px solid #a63f38;
}

.border {
  border-left: 2px solid #a63f38;
  border-right: 2px solid #a63f38;
}

.nav a:hover {
  background-color: #a63f38;
}

.grain-left {
  display: block;
  width: 40px;
  float: left;
  margin-top: 1rem;
}

.grain-right {
  display: block;
  width: 40px;
  float: right;
  margin-top: 1rem;
}
